<div>
    <h2>
        Это главная страница
    </h2>
    <form asp-area="" asp-controller="Home" asp-action="Search" method="post" asp-route-siteUrl="siteUrl">
        <div asp-validation-summary="All"></div>
        <div>
            <label>Введите название новостного сайта. Пока работает только для: regions.by</label>
            <input type="text" name="siteUrl" value="regions.by" />
            <span></span>
        </div>
        <div>
            <label style="margin-top:35pt">Сколько страниц скачать?</label>
            <input type="text" name="amount" />
            <label>Примечание: Около 16 первых страниц обзорные и не являются статьями</label>
            <label>*Внимание! Если страница не будет распознана как статья, она не будет сохранена!</label>
            <span></span>
        </div>
        <div>
            <input type="submit" value="Найти" />
        </div>
    </form>
    <a asp-area="" asp-controller="Home" asp-action="Index">ссылка на главную страницу</a>
</div>