<div>
    <h2>
        Результаты поиска
    </h2>
    <h3>
        Было найдено @ViewBag.AmountOfFindedArticles новых статей
    </h3>
    <a asp-controller="Home" asp-action="Index">Вернуться на главную страницу</a>
</div>